{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% if error %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger">
                    <strong>There was an error with your uploaded file, is it a csv?</strong>

                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">

        <div class="col-9 mx-auto">
{#            #TODO add a map that updates as the user fills out long and lat#}
            <form method="POST" enctype="multipart/form-data" action="{% url 'samples:upload_csv2' %}"> {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit" class="btn btn-success mt-2">Upload</button>
            </form>
        </div>

    </div>



{% endblock %}