{% extends "base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block styles %}
    {% leaflet_css %}
{% endblock %}
{% block scripts %}
    {% leaflet_js %}

    <script type="text/javascript">
      var collection = {{ object_list|geojsonfeature:"sample_no,job_name,awwa"|safe }};

      function getFeaturesInView(map) {
          var features = [];
          map.eachLayer( function(layer) {
            if(layer instanceof L.Marker) {
              if(map.getBounds().contains(layer.getLatLng())) {
                features.push(layer.feature);
              }
            }
          });
          return features;
      }

      function map_init(map, options) {
          {#L.geoJSON(collection).addTo(map);#}

          const group = L.geoJson(collection, {
           style: function (feature) {
               return {}; // style properties here
           },
           onEachFeature: function (feature, layer) {
               layer.bindPopup(feature.properties.sample_no + "</br>" + feature.properties.job_name + "</br>" +  feature.properties.awwa);
           }
          }).addTo(map);

          {#var markerArray = getFeaturesInView(map)#}
          {#var markerArray = [];#}
          {#// markerArray.push(L.marker([51.505, -0.09]));#}
          {#// ...#}
          {#var group = L.featureGroup(markerArray).addTo(map);#}
          map.fitBounds(group.getBounds());
      }
    </script>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-11 mx-auto">
            <div class="alert alert-secondary" role="alert" style="min-height: 300px">
                Map will go here
                {% leaflet_map "samples" callback="window.map_init" %}

            </div>
        </div>

    </div>

    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-11">
            <div class="row mb-3">
                <div class="col-2 ml-auto">
                    <form action="{% url 'samples:upload_csv' %}">
                        <button type="submit" class="btn btn-info">Upload new csv</button>
                    </form>
                </div>
                <div class="col-2 ml-auto">
                    <form action="{% url 'samples:download_csv' %}">
                        <button type="submit" class="btn btn-info">Download current view as csv</button>
                    </form>
                </div>

                <div class="col-2">
                    <form action="new/">
                        <button type="submit" class="btn btn-success">Add new row</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 mx-auto">

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtercollapse" role="button" aria-expanded="false" aria-controls="collapseFilters">
                Expand Filters
            </button>

            <div class="collapse" id="filtercollapse">
                <div class="card card-body">
                    {% if filter %}
                        <form action="" method="get" class="form form-inline">{% csrf_token %}
                            {% bootstrap_form filter.form layout='inline' %}
        {#                    {{  filter.form.as_p }}#}
                            <br>
                            <button type="submit" class="btn btn-success">Filter</button>
                            <a class="btn btn-warning" href="{% url 'samples:index' %}">Reset</a>
                        </form>
                    {% else %}
                        <p>Filter is missing, something has gone wrong</p>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            {# yonetim/templates/list.html #}

            {% load render_table from django_tables2 %}
            {% load static %}
            {% render_table table %}
        </div>
    </div>
{% endblock %}