{% extends "base.html" %}

{% block content %}

    <div class="row">

        <div class="col-11 mx-auto">
            <div class="alert alert-secondary" role="alert" style="min-height: 200px">
                Map will go here
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-11">
            <div class="row mb-3">
                <div class="col-2 ml-auto">
                    <form action="{% url 'samples:download_csv' %}">
                        <button type="submit" class="btn btn-info">Download current view as csv</button>
                    </form>
                </div>

                <div class="col-2">
                    <form action="new/">
                        <button type="submit" class="btn btn-success">Add new row</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mx-auto">
                    {# yonetim/templates/list.html #}
            {% load render_table from django_tables2 %}
            {% load static %}

            {% render_table table %}
        </div>

    </div>

{% endblock %}