{% extends "base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load static %}
{% load geojson_tags %}
{% block styles %}
    {% leaflet_css %}
    <style>
    #samples_map{
            width: 100px;
            height:500px;
            min-height: 100%;
            min-width: 100%;
            display: block;
    }
    </style>

    <style>
    .legend-area {
        background-color: rgb(24,26,27);
        background-image: none;
        outline-color: rgb(140,130,115);
    }
    .legend-area {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        background: white;
        outline: 3px solid black;
        line-height: 1em;
    }

    </style>
{% endblock %}
{% block scripts %}
    <script src="{% static "js/heatmap.min.js" %}"></script>
    {% leaflet_js %}
    <script src="{% static "js/leaflet-heatmap.js" %}"></script>

    <script type="text/javascript">
          var collection = {{ object_list|geojsonfeature:"sample_no,job_name,awwa,field_resistivity,absolute_url"|safe }};

          {#var legendBox = document.getElementById("legendBox");#}
          {#document.getElementsByClassName("HeatmapCanvas").appendChild(legendBox)#}
          {##}
          {#var legendCanvas = document.createElement('canvas');#}
          {#var realmax = 1;#}
          {#var realmin = 0;#}
          {#legendCanvas.width = 100;#}
          {#legendCanvas.height = 10;#}
          {#var min = document.querySelector('#min');#}
          {#var max = document.querySelector('#max');#}
          {#var gradientImg = document.querySelector('#gradient');#}
          {#var legendCtx = legendCanvas.getContext('2d');#}
          {#var gradientCfg = {};#}
          {#function updateLegend(data) {#}
          {#  // the onExtremaChange callback gives us min, max, and the gradientConfig#}
          {#  // so we can update the legend#}
          {#  min.innerHTML = data.min;#}
          {#  max.innerHTML = data.max;#}
          {#  // regenerate gradient image#}
          {#  if (data.gradient != gradientCfg) {#}
          {#    gradientCfg = data.gradient;#}
          {#    var gradient = legendCtx.createLinearGradient(0, 0, 100, 1);#}
          {#    for (var key in gradientCfg) {#}
          {#      gradient.addColorStop(key, gradientCfg[key]);#}
          {#    }#}
          {#    legendCtx.fillStyle = gradient;#}
          {#    legendCtx.fillRect(0, 0, 100, 10);#}
          {#    gradientImg.src = legendCanvas.toDataURL();#}
          {#  }#}
          {# }#}


          function getFeaturesInView(map) {
              var features = [];
              map.eachLayer( function(layer) {
                if(layer instanceof L.Marker) {
                  if(map.getBounds().contains(layer.getLatLng())) {
                    features.push(layer.feature);
                  }
                }
              });
              return features;
          }

          function map_init(map, options) {

              var heatmapData = {
                  max: -16000000000000000,
                  min: 100000000000000000,
                  data: []
              };

              function cap(val, cap=25000) {
                  if (val > cap){
                      return cap
                  } else {
                      return val
                  }
              }

              function logBase(value, base) {
                  return Math.log(value) / Math.log(base);
              }

              function resistivityScore(val){
                  {#return 1/val;#}

                  return 1-logBase(cap(val), 25000) + 0.000001;
              }





              var sample_markers = L.layerGroup()
              const group = L.geoJson(collection, {
               style: function (feature) {
                   return {}; // style properties here
               },
               onEachFeature: function (feature, layer) {
                   layer.bindPopup("<a href='" + feature.properties.absolute_url + "'> "+
                       feature.properties.sample_no + "</a>" + "</br>" + feature.properties.job_name + "</br>" +
                       feature.properties.awwa + "</br>" + feature.properties.field_resistivity );
                   sample_markers.addLayer(layer)
                   if (feature.properties.field_resistivity !== null && feature.properties.field_resistivity !== "") {
                       var resistScore = resistivityScore(Number(feature.properties.field_resistivity));
                       heatmapData["data"].push({
                           lat: feature.geometry.coordinates[1],
                           lng: feature.geometry.coordinates[0],
                           count: resistScore
                           {#radius: .1 + resistScore#}
                       })
                       if (resistScore > Number(heatmapData["max"])) {
                           heatmapData["max"] = resistScore;
                       }
                       if (resistScore < Number(heatmapData["min"])) {
                           heatmapData["min"] = resistScore;
                       }
                   }
               }
              });
              {#realmax = heatmapData["max"]#}
              {#realmin = heatmapData["min"]#}
              var hardMin = true
              if (hardMin) {
                  {#heatmapData["max"] = resistivityScore(0.1);#}
                  heatmapData["max"] = "1";
                  heatmapData["min"] = "0";
              }

              var reverse = false
              if (reverse) {
                  for (point of heatmapData["data"]) {
                      point["count"] = heatmapData["max"] - point["count"]
                  }
              }

              var normalize = false
              var point;
              if (normalize) {
                  for (point of heatmapData["data"]) {
                      point["count"] = (point["count"] - heatmapData["min"]) / (heatmapData["max"] - heatmapData["min"])
                  }
                  heatmapData["max"] = 1
                  heatmapData["min"] = 0
              }
              console.log(heatmapData)

              {#var markerArray = getFeaturesInView(map)#}
              {#var markerArray = [];#}
              {#// markerArray.push(L.marker([51.505, -0.09]));#}
              {#// ...#}
              {#var group = L.featureGroup(markerArray).addTo(map);#}
              const mapbox_token = "pk.eyJ1IjoidHJldm9ydGRzIiwiYSI6ImNrZW5kY2JqOTAwcHQyeG5pbGV3eXY2eHkifQ.W0RkBr1tHl7pcSgx59KpaA"
              var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
              var mapboxUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token='+mapbox_token;
              var grayscale = L.tileLayer(mapboxUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
                  streets   = L.tileLayer(mapboxUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

              grayscale.addTo(map);
              streets.addTo(map);
              sample_markers.addTo(map);

              map.fitBounds(group.getBounds());


              var cfg = {
                  // radius should be small ONLY if scaleRadius is true (or small radius is intended)
                  // if scaleRadius is false it will be the constant radius used in pixels
                  "radius": .0025,
                  "maxOpacity": 1.0,
                  "minOpacity": 0.5,
                  // scales the radius based on map zoom
                  "scaleRadius": true,
                  // if set to false the heatmap uses the global maximum for colorization
                  // if activated: uses the data maximum within the current map boundaries
                  //   (there will always be a red spot with useLocalExtremas true)
                  "useLocalExtrema": false,
                  // How hard the gradients are, default 0.85
                  "blur": 0.90,
                  // which field name in your data represents the latitude - default "lat"
                  latField: 'lat',
                  // which field name in your data represents the longitude - default "lng"
                  lngField: 'lng',
                  // which field name in your data represents the data value - default "value"
                  valueField: 'count',
                  // { 0.25: "rgb(0,0,255)", 0.55: "rgb(0,255,0)", 0.85: "yellow", 1.0: "rgb(255,0,0)"},
                  gradient: {
                  {#  // enter n keys between 0 and 1 here#}
                  {#  // for gradient color customization#}
                      "0.0" : 'blue',
                      "0.050": "rgb(0,255,0)",
                      '0.090': "yellow",
                      "0.16": "rgb(255,128,0)",
                      "0.31": "red"

                  }
                  {#onExtremaChange: function(data) {#}
                  {#    updateLegend(data);#}
                  {# }#}
              };
              var heatmapLayer = new HeatmapOverlay(cfg);
              var baseMaps ={"Grayscale": grayscale, "Streets": streets};
              var overlayMaps = {
                  "Samples": sample_markers,
                  "Heatmap": heatmapLayer
              };
              setTimeout(function(){
                    map.addLayer(heatmapLayer);
              },500)
              {#heatmapLayer.addTo(map);#}
              L.control.layers(baseMaps, overlayMaps).addTo(map);
              heatmapLayer.setData(heatmapData)

              {#var legend = L.control({position: 'bottomright'});#}
              {##}
              {#legend.onAdd = function (map) {#}
              {##}
              {#    var div = L.DomUtil.create('div', 'info legend'),#}
              {#        grades = ["Car", "ball"],#}
              {#        labels = ["http://datentaeter.de/wp-content/uploads/2016/06/flag_de.png","http://datentaeter.de/wp-content/uploads/2016/06/flag_de.png"];#}
              {##}
              {#    // loop through our density intervals and generate a label with a colored square for each interval#}
              {#    for (var i = 0; i < grades.length; i++) {#}
              {#        div.innerHTML +=#}
              {#            grades[i] + (" <img src="+ labels[i] +" height='50' width='50'>") +'<br>';#}
              {#    }#}
              {##}
              {#    return div;#}
              {# };#}
              {##}
              {#legend.addTo(map);#}

      }
    </script>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-11 mx-auto">
            <div class="alert alert-secondary" role="alert" style="min-height: 300px">
                {% leaflet_map "samples_map" callback="window.map_init" %}
{#                <div id="legendBox" class="legend-area">#}
{#                    <h4>Legend Title</h4>#}
{#                    <span id="min">4</span>#}
{#                    <span id="max">1208</span>#}
{#                    <img id="gradient" src="#" style="width: 100%">#}
{#                </div>#}
            </div>
        </div>

    </div>

    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-11">
            <div class="row mb-3">
                <div class="col-2 ml-auto">
                    {% if request.user.is_staff %}
                    <form action="{% url 'samples:upload_csv' %}">
                        <button type="submit" class="btn btn-info">Upload new csv</button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-2 ml-auto">
                    <form action="{% url 'samples:download_csv' %}">
                        <button type="submit" class="btn btn-info">Download current view as csv</button>
                    </form>
                </div>

                <div class="col-2">
                    {% if request.user.is_staff %}
                    <form action="new/">
                        <button type="submit" class="btn btn-success">Add new row</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 mx-auto">

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtercollapse" role="button" aria-expanded="false" aria-controls="collapseFilters">
                Expand Filters
            </button>

            <div class="collapse" id="filtercollapse">
                <div class="card card-body">
                    {% if filter %}
                        <form action="" method="get" class="form form-inline">{% csrf_token %}
                            {% bootstrap_form filter.form layout='inline' %}
        {#                    {{  filter.form.as_p }}#}
                            <br>
                            <button type="submit" class="btn btn-success">Filter</button>
                            <a class="btn btn-warning" href="{% url 'samples:index' %}">Reset</a>
                        </form>
                    {% else %}
                        <p>Filter is missing, something has gone wrong</p>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            {# yonetim/templates/list.html #}

            {% load render_table from django_tables2 %}
            {% load static %}
            {% render_table table %}
        </div>
    </div>
{% endblock %}